.vscode
.idea
/build
cmake-build-debug
googletest-release-1.11.0
project/src/file_with_matrix.txt
project/src/memoryLeak
project/src/trash_test.c
project/src/matrix_test.cpp
a.out
main.exe
trash.c
trash
